@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-manrope font-light;
}
html {
  scroll-behavior: smooth !important;
}

body {
  @apply font-manrope font-light tracking-wider relative min-h-screen  m-auto p-4 lg:p-12 overflow-x-hidden;

  background: white;
  z-index: 2;
  max-width: 1920px;
}

body::before {
  @apply absolute content-[''] top-0 left-0 w-full h-full opacity-30;

  background: url("../../public/assets/noise.png");
  z-index: -2;
}

body::after {
  @apply absolute content-[''] top-0 left-0 w-full h-full opacity-90 text-ablack;

  background: url("../../public/assets/background.jpeg");
  background-size: cover;
  z-index: -1;
}

p,
a {
  @apply font-manrope  text-sm lg:text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-manrope font-light;
}

.main__container {
  width: 90%;
  margin: auto;
  max-width: 1600px;
}

.secondary__container {
  width: 90%;
  margin: auto;
  max-width: 1400px;
}

/* Home Page Value Section */
.value__box:nth-of-type(2) {
  @apply bg-aqua-haze;
}
.value__box:nth-of-type(3) {
  @apply bg-alabaster;
}

.value__box:nth-of-type(4) {
  @apply bg-alabaster xl:row-start-2 xl:col-start-2;
}

.value__box:nth-of-type(5) {
  @apply bg-spanish-white xl:row-start-2 xl:col-start-3;
}

.value__box:nth-of-type(6) {
  @apply bg-early-dawn xl:row-start-2 xl:col-start-4;
}

/* About Page Stats Section */
.stat__box:nth-of-type(1) {
  @apply bg-aqua-haze;
}
.stat__box:nth-of-type(2) {
  @apply bg-alabaster;
}

.stat__box:nth-of-type(3) {
  @apply bg-alabaster;
}

.stat__box:nth-of-type(4) {
  @apply bg-alabaster 2xl:row-start-2 2xl:col-start-2;
}

.stat__box:nth-of-type(5) {
  @apply bg-early-dawn md:col-span-2 2xl:row-start-2 2xl:col-start-3;
}

/* About Page Team Section */
.about__team .member:nth-of-type(4) {
  @apply xl:row-start-2 xl:col-start-2;
}
.about__team .member:nth-of-type(5) {
  @apply xl:row-start-2 xl:col-start-3;
}
.about__team .member:nth-of-type(6) {
  @apply xl:row-start-2 xl:col-start-4;
}
