@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-manrope font-light;
}
html {
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
  width: 0.75em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  /* outline: 1px solid slategrey; */
}
.cart__list::-webkit-scrollbar {
  width: 0.375em;
}

.cart__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.cart__list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  /* outline: 1px solid slategrey; */
}

body {
  @apply font-manrope font-light tracking-wider relative min-h-screen  m-auto p-4 lg:p-12 overflow-x-hidden z-[2] bg-white max-w-[1920px];
}

body::before {
  @apply absolute content-[''] top-0 left-0 w-full h-full opacity-30 -z-[2] bg-[url("../../public/assets/noise.png")];
}

body::after {
  @apply absolute content-[''] top-0 left-0 w-full h-full opacity-90 text-ablack -z-[1] bg-[url("../../public/assets/background.jpeg")] bg-cover;
}

p,
a {
  @apply font-manrope  text-sm lg:text-base !leading-[28px];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-manrope font-light;
}

.main__container {
  @apply w-[90%] m-auto max-w-[1600px];
}

.secondary__container {
  @apply w-[90%] m-auto max-w-[1440px];
}

/* Home Page Value Section */
.value__box:nth-of-type(2) {
  @apply bg-aqua-haze;
}
.value__box:nth-of-type(3) {
  @apply bg-alabaster;
}

.value__box:nth-of-type(4) {
  @apply bg-alabaster xl:row-start-2 xl:col-start-2;
}

.value__box:nth-of-type(5) {
  @apply bg-spanish-white xl:row-start-2 xl:col-start-3;
}

.value__box:nth-of-type(6) {
  @apply bg-early-dawn xl:row-start-2 xl:col-start-4;
}

/* About Page Stats Section */
.stat__box:nth-of-type(1) {
  @apply bg-aqua-haze;
}
.stat__box:nth-of-type(2) {
  @apply bg-alabaster;
}

.stat__box:nth-of-type(3) {
  @apply bg-alabaster;
}

.stat__box:nth-of-type(4) {
  @apply bg-alabaster 2xl:row-start-2 2xl:col-start-2;
}

.stat__box:nth-of-type(5) {
  @apply bg-early-dawn md:col-span-2 2xl:row-start-2 2xl:col-start-3;
}

/* About Page Team Section */
.about__team .member:nth-of-type(4) {
  @apply xl:row-start-2 xl:col-start-2;
}
.about__team .member:nth-of-type(5) {
  @apply xl:row-start-2 xl:col-start-3;
}
.about__team .member:nth-of-type(6) {
  @apply xl:row-start-2 xl:col-start-4;
}

.share__buttons button {
  @apply !p-1 !bg-concrete rounded-full;
}
.share__buttons svg > circle {
  @apply !fill-concrete;
}
.share__buttons svg > path {
  @apply !fill-ablack;
}

.blog__content h2 {
  @apply text-4xl lg:text-5xl;
}

.blog__content h3 {
  @apply text-3xl lg:text-4xl;
}

.blog__content h4 {
  @apply text-2xl lg:text-3xl;
}

.blog__content h5 {
  @apply text-xl xl:text-2xl;
}

.product__content ul {
  list-style: circle;

  @apply ml-2 flex flex-col gap-4;
}
